
body {
  margin: 0px;
  font-family: 'Courier New', monospace;
}
p {
  text-align: center;
}
h1{
  text-align: left;
  color: black;
  border: none;
}

@keyframes slide{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(720px, -720px, 0);
  }
}



header {
  position: fixed;
  margin: 0px;
  padding: 2px 35px;
  text-align: left;
  background: url("./BackgroundHeader.png") repeat;
  color: white;
  font-size: 20px;
  animation: slide 30s linear infinite;
}
