
body {
  margin: 0px;
  font-family: 'Courier New', monospace;
}

.Year
{

padding: 30px;

	
}


@keyframes slide
{
  0%{background-position: 0 0;}
	100%{background-position: 100vw 0;}
}

header {
 background: url(./BackgroundHeader.png) repeat-x;
    background-size: contain;
    position: relative; 
    text-align: left;
    color: white;
     font-size: 20px; 
    animation: slide 20s linear infinite;
    height: 185px;
    padding: 0px 0px;
    margin: 0px 0px;
    display: flex;
  
.BandBlock
 {
    display: inline-block;
    padding: 0px;
    margin: 0px;
 }

.BandEnd
{
	display: inline-block;
	position: absolute;
	padding: 0px;
	margin: 0px, 0px ;
	overflow:hide
}
	

#bandContainer {
  position: relative;
  margin: 0px;
  padding: 15px 0px;
}
  
#bandCaption {
 position: absolute;
  width: 700px;
  font-size: 60px;
  line-height: 170px;
  text-align: left;
  left: 30px;
  top: 0;
  text-shadow: 0 0 1px white;
  color: black;
  font-weight:bold;
}
