
body {
  margin: 0px;
  font-family: 'Courier New', monospace;
}
p {
  text-align: center;
}
h1{
  text-align: left;
  color: black;
  border: none;
}

@keyframes slide
{
100% {background-position: 30px 0px;}
  }







header {
  background: url("./BackgroundHeader.png") repeat-x; 
  background-size:contain;
  position: fixed;
  margin: 0px;
  text-align: left;
  color: white;
  font-size: 20px;
   animation: slide 5s linear infinite;
}
