
body {
  margin: 0px;
  font-family: 'Courier New', monospace;
}
p {
  text-align: center;
}
h1{
  text-align: left;
  color: black;
  border: none;
}

@keyframes slide{
  0%{
    transform: translate3d(-720px, 0, 0);
  }
  100%{
    transform: translate3d(720px, 0px, 0);
  }
}

.container {
  overflow: hidden;
}

.infinite-scrolling { 
  background: url("./BackgroundHeader.png") repeat-x; 
  height: 645px; 
  width: 5760px; 
  animation: slide 10s linear infinite;
}



header {
  position: fixed;
  margin: 0px;
  padding: 2px 35px;
  text-align: left;
 
 
  color: white;
  font-size: 20px;
}
