
body {
  margin: 0px;
  font-family: 'Courier New', monospace;
}

.Year
{

padding: 100px;

	
}


@keyframes slide
{
  0%{background-position: 0 0;}
	100%{background-position: 100vw 0;}
}

header {
 background: url(./BackgroundHeader.png) repeat-x;
    background-size: contain;
    position: relative; 
    text-align: left;
    color: white;
    font-size: 20px; 
    animation: slide 20s linear infinite;
    height: 185px;
    padding: 0px 0px;
    margin: 0px 0px;
    display: flex;
}

body
{
	background-color: black;
}
	

.BandBlock
 {
    display: inline-block;
    padding: 0px;
    margin: 0px;
 }

.BandEnd
{
	display: inline-block;
	position: absolute;
	padding: 0px;
	margin: 0px;
	overflow:hide
}

.BandWayContainer
{
	position: relative;
	display: flex;
	margin: 0px;
	padding: 0px;
}

.BandWayCaption
{
 position: absolute;
 width: 100%;
 box-sizing: border-box;
 padding: 100px 0px 10px 50px;
 font-family: system-ui;    
 line-height: 19px;
 font-size: clamp(1px, 1.5vw, 23px);
 size: contain;
}

@media only screen and (max-width: 500px) {

.BandWayCaption {

 position: absolute;
 width: 100%;
 box-sizing: border-box;
 padding: 100px 0px 10px 50px;
 font-family: system-ui;    
 line-height: 19px;
 font-size: clamp(1px, 1.5vw, 40px);
 size: contain;

}

}



.GameSection
{
 padding: 0px
 position: absolute;
}

.TrailerVideo
{
    display: flex;
    position: relative;
    width: 900px;
    height: 450px;
    margin: auto;
	padding-top: 60px;
    border: none;
}
	

.FirstSection
{
	background: url(./Section1.png) repeat;
	padding-bottom: 200px;
}

.FirstSeparater
{
	background: url(./Separation.png) repeat-x;
    display: flex;
    height: 160px;
    width: 100%;
    position: absolute;
    background-size: contain;
    top: 1190px;
}

.SecondSection
{
	background: url(./Section2.png) repeat;
	padding-bottom: 200px;
}

.SecondSeparater
{
	background: url(./Separation.png) repeat-x;
    display: flex;
    height: 160px;
    width: 100%;
    position: absolute;
    background-size: contain;
    top: 2270px;
}

.ThirdSection
{
	background: url(./Section3.png) repeat;
	padding-bottom: 200px;
}
	

#bandContainer {
  position: relative;
  margin: 0px;
  padding: 15px 0px;
}
  
#bandCaption {
 position: absolute;
  width: 700px;
  font-size: 60px;
  line-height: 170px;
  text-align: left;
  left: 30px;
  top: 0;
  text-shadow: 0 0 1px white;
  color: black;
  font-weight:bold;
}
