
body {
  margin: 0px;
  font-family: 'Courier New', monospace;
}
p {
  text-align: center;
}
h1{
  text-align: left;
  color: black;
  border: none;
}

header {
  margin: 0px;
  padding: 2px 35px;
  text-align: left;
  background:#00A550;
  background-image: url("BackgroundHeader.png");
  color: white;
  font-size: 20px;
}
