
body {
  margin: 0px;
  font-family: 'Courier New', monospace;
}
p {
  text-align: center;
}
h1{
  text-align: left;
  color: black;
  border: none;
}

@keyframes slide
{
100% {background-position: 800px 0px;}
  }







header {
 background: url(./BackgroundHeader.png) repeat-x;
    background-size: contain;
    /* position: fixed; */
    text-align: left;
    color: white;
     font-size: 20px; 
    animation: slide 5s linear infinite;
    height: 100px;
    padding: 0px 0px;
    margin: 0px 0px;
    display: flex
}
