
body {
  margin: 0px;
  font-family: 'Courier New', monospace;
}
p {
  text-align: center;
}
h1{
  text-align: left;
  color: black;
  border: none;
}

@keyframes slide{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(720px, 0px, 0);
  }
}


#header-background{
   background: url("./BackgroundHeader.png") repeat;
   background-size: contain;
   animation: slide 5s linear infinite;
}

header {
  position: fixed;
  margin: 0px;
  padding: 2px 35px;
  text-align: left;
 
 
  color: white;
  font-size: 20px;
}
